<div class="container">
    <!-- So just like in any other built in event like click here we listen for serverCreatedEvent
    and once the server was created we execute some code just like in any other built in event.
    And we even expect to get some data with $event which is an object that gives us some required information about that server like name and coyent. -->
  <app-cockpit (svCreated)="onServerAdded($event)"
  (bpCreated)="onBluePrintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click) = "onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click) = "onDestroyFirst()">Destroy First Element</button>
      <app-server-element *ngFor="let serverElement of serverElements" [srvelement]="serverElement" [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color:red">{{serverElement.content}}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
        </p>
      </app-server-element>
    </div>
  </div>


</div>